{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
        <a href="/"><img class="title-sm" src="/static/img/entest.png" height="80px" width="200px"></a>
		<p class="slogan">Test Your Vocab</p>
		<br>
		Results for test on {{(date|string)[:-3]}}GMT
		<br>
		
		<!-- Predictions -->    	    	
    	<div class="container pred">
        	<p class="pred-header">Your Vocab Size</p>
        	<span class="predrange"><span class="predrange predlower" data-toggle="tooltip" data-placement="left" title="lower bound">{{(pred[2] * scaler)|int}}</span>&nbsp; &nbsp; - &nbsp; &nbsp;</span>
            	<span class="predmain" data-toggle="tooltip" data-placement="top" data-html="true" title="{{(pred[0] * scaler)|int}}">{{(pred[0] * scaler)|int}}</span>
        	<span class="predrange predupper" data-toggle="tooltip" data-placement="right" title="upper bound">&nbsp; &nbsp; - &nbsp; &nbsp;{{(pred[1] * scaler)|int}}</span>
    	</div>
    	
    	
    	<!-- Chart -->    	
    	<div class="chart-container">
            <canvas id="predChart"></canvas>
        </div>
        
        <div class="explanation container">
            <!-- Stats -->
            <br>
            <h3 class="text-left">Stats:</h3>
            <p><b>{{cnt}}</b> questions answered! 
    		{% if cnt > avg_answered %}
        		More 
        	{% else %}
            	Less
        	{% endif %}
        	than the average {{avg_answered}} of other testers. {% if curtest %}Click <a href="/test?a=-1">here</a> to keep going!{% endif %}
        	
        	<br>
    		You know <b>{{(pred[0] * scaler)|int}}</b> words compared to the average of {{(avg_known * scaler)|int}}. This is around <b>{{pct_known_by_appearance}}%</b> of words as they appear in text.
    		
    		<br><br>
    		{% if (pred[0] * scaler)|int > 50000 %}
                You're beyond an expert! Have you been studying the dictionary or just doing drills on this site?
            {% elif (pred[0] * scaler)|int > 32000 %}
                You're a well educated English native. Or else you've studied very hard.
            {% elif (pred[0] * scaler)|int > 13000 %}    
                At this level, you can speak and read English fluently.
            {% elif (pred[0] * scaler)|int > 5000 %}    
                You are an advanced English learner; ready for TOEFL if you haven't passed it already.
            {% elif (pred[0] * scaler)|int > 2000 %}
                At your level, you're probably studying for TOEFL. You're not ready quite yet, but you are an intermediate learner and can hold a conversation.
            {% else %}
                You're still a beginner. Everyone has to start somewhere. Good luck!
            {% endif %}
            </p>
            
            <!-- Flavour -->
            <br>
            <p><i>~~ {{["Today's word: Defenestrate - throwing of a person or thing out a window", 
                "Today's word: Platten - to flatten into a plate. Sometimes English can be straightforward.",
                "Today's word: Shiboleth - an ancient Hebrew codeword used to distinguish and kill Ephraimites.",
                "Today's word: Blunge - blend and plunge clay and water together.",
                "“To have another language is to possess a second soul” -Charlemagne",
                "“Language is a process of free creation; its laws and principles are fixed, but the manner in which the principles of generation are used is free and infinitely varied. Even the interpretation and use of words involves a process of free creation” -Noam Chomsky",
                "“Language is the road map of a culture. It tells you where its people come from and where they are going” -Rita Mae Brown",
                "“The problem with defending the purity of the English language is that English is about as pure as a cribhouse whore. We don't just borrow words; on occasion, English has pursued other languages down alleyways to beat them unconscious and riffle their pockets for new vocabulary.” -James Nicoll",
                "Did you know that in Northern England the plural for eye was Een?", 
                "Did you know that the phrase 'to sow panic' comes from an Italian millet-like grass 'panicum' aka 'panic grass'?",
                "Blandishment sounds like a punshiment to forever wear boring clothes, but refers to a suave flattery",
                "Tatu can be an old spelling of tattoo but it is also a species of giant armadillo!",
                "A 'kiang' is the world's largest wild ass",
                "The opposite of 'a little' is, of course, 'a mickle'.",
                "Realgar - a toxic vibrant orange mineral deposit found in hot-springs, volcanoes ... and is typically Fake.",
                "Montero isn't just a Japanese SUV. It is the spanish word for 'hunter' as well as the foppish hat they wore",
                "Xenotime sadly doesn't mean 'strange/foreign time', it is just a misnamed rock!",
                "I took this quiz 121 times while developing this app!"] 
                | random}} ~~</i></p>
            
            <!-- Histogram -->
            <br>
            <h3 class="text-left">How you compare to other users:</h3>
            <div class="chart-container"><canvas id="histoChart"></canvas></div>
            <p><i>(You're in the green bar)</i></p>
            
            <!-- Study list -->
            {% if wronganswers|length > 0 %}
            <h3 class="text-left">Words you missed:</h3>
            <table id="missed_words_table" class="table">
                <thead><tr>
                    <th>Difficulty&nbsp;#</th>
                    <th>Word</th>
                    <th>Definition</th>
                </tr></thead>
                <tbody>
                    {% for q in wronganswers %}
                    <tr>
                        <td class="mwt_numb">{{(q[0] * scaler)|int}}</td>
                        <td class="mwt_word"><a href="https://en.wiktionary.org/wiki/{{q[1]|lower}}" class="review" target="_blank" rel="noopener noreferrer">{{q[1]}}</a></td>
                        <td class="mwt_def">{{q[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            
            <br>
            <p>Tip: Be sure to bookmark this page to compare to the next time you take a test</p>
        </div>
        <!-- Buttons -->    	
        <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group btn-group-sm sharegroup" data-toggle="tooltip" data-placement="top" title="Share your score with friends" role="group" aria-label="Share your score with friends">
            <a type="button" class="btn btn-primary" id="sharetw" role="btn" 
                href=" https://twitter.com/intent/tweet?via=Ambiwlans1&url=https%3A%2F%2Fenken.herokuapp.com%2Ft%2F{{id}}&text=I%20know%20{{(pred[0] * scaler)|int}}%20words%21%20Top%20me%3F&hashtags=entest, EnglishLanguage, englishvocabulary, vocabulary">
                <i class="fab fa-twitter fa-lg"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a type="button" class="btn btn-primary" id="sharefb" role="btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fenken.herokuapp.com%2Ft%2F{{id}}"><i class="fab fa-facebook fa-lg"></i></a>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="Nav Button Block">
            <a type="button" class="btn btn-success" id="new" role="btn" href="/test">New Test</a>
            {% if curtest %}
                <a type="button" class="btn btn-info" id="return" role="btn" href="/test?a=-1">Continue Test</a>
            {% endif %}
        </div>
        </div>
	</div>
{% endblock content %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flip.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	{%- include 'chart.js' -%}
    {%- include 'hist.js' -%}
    
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#missed_words_table').DataTable( {
                "paging":   true,
                "lengthChange": false,
                "pageLength": 10,
                "ordering": true,
                "info":     false,
                "searching": false,
                "order": [[0, "asc" ]],
                columnDefs: [{
                    targets: 0,
                    render: $.fn.dataTable.render.number(',', '.', 0, '#')
                }]
            } );
        } );
    </script>
{% endblock %}















